@import "./reset";
@import "./mixin";
@import "./transition";
@import "./home";
@import "./flapCard";

.icon {
  color: #666;
  font-size: px2rem(16);
}

.title {
  color: #666;
  font-size: px2rem(16);
  font-weight: bold;
}
